
.Accountsetup-link{
    display: inline-block;
    color: black;
    padding: 5px ;
    transition: all 0.5s;
    margin-left: 5%;
}

.Accountsetup-link:hover{
    background: rgba(0, 128, 0, 0.432);
    color: white;
    transition: all 0.5s;
    border-radius: 20px;
}
.active{
    background: rgba(0, 128, 0, 0.432);

}
a{
    text-decoration: none;
    color: black;
}
.Accountsetup-link:hover{
    background: rgba(128, 128, 128, 0.377);
    border-radius: 10px;
}
.heading{
    margin-left: 7%;
}
.heading1{
    margin-left: 7%;
    margin-top: 2%;
}
.admin-icon{
    color: black;
    font-size: 25px;
}
.admin-icon:hover{

    color: white;
    transition: all 0.5s;
    border-radius: 20px;
}
.account-gap5{
    margin-left: 5%;
}
.paragraph5{
    margin-left: 5%;
    margin-top: 2px;
}
.line5{
    border-bottom: 1px solid black;
    margin-top: 2%;
    width: 78%;
    margin-left: 5%;
}