
.admin-model{
    display: inline-block;
    color: black;
    padding: 5px ;
    transition: all 0.5s;
    margin-left: 5%;
    margin-top: 10%;
}

.admin-model:hover{
    background: rgba(0, 128, 0, 0.432);
    color: white;
    transition: all 0.5s;
    border-radius: 20px;
}
.active{
    background: rgba(0, 128, 0, 0.432);
    color:white;
    border-radius: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.admin-model:hover{
    background: rgba(128, 128, 128, 0.377);
    color: white;
    transition: all 0.5s;
    border-radius: 10px;
}
.heading{
    margin-left: 10%;
    margin-top: 2rem;
}
.account-gap{
    margin-left: 5%;
}
.paragraph{
    margin-left: 5%;
    margin-top: 2px;
}
.heading1{
    margin-left: 7%;
    margin-top: 2%;
}
.line{
    border-bottom: 1px solid black;
    margin-top: 2%;
    width: 70%;
    margin-left: 12%;
}
.admin-icon{
    color: black;
    font-size: 25px;
}
.admin-icon:hover{

    color: white;
    transition: all 0.5s;
    border-radius: 20px;
}