/* * {
    box-sizing: border-box;
  } */
  
  /*body {
    background: -webkit-linear-gradient(right, #a6f77b, #2dbd6e);
    border-radius: 10px;
    box-shadow: 0px 1px 8px #24c64f;
    cursor: pointer;
    color: #24c64f no-repeat;
    font-family: "Raleway SemiBold", sans-serif;
    height: 100%;
    position: left;
  } */
  .auth {

  }

  .input{
    padding-top: 5px; 
    background: #fdfcfe;
    border: 1px;
    outline: none;
  }
  
  /* Float four columns side by side */
  .column-auth {
    float: right;
    width: 50%;
    
    
    padding: 25px 25px 25px 25px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row-auth {margin: 0 100px;}
  
  /* Clear floats after the columns */
  .row-auth:after {
    content: "";
    display: grid;
    clear: both;
  }
  
  /* Style the counter cards */
 .card-auth {
    
    padding: 0px  ;
    padding-top: 5px;
    padding-bottom: 10px;
    background: #fbfbfb;
    border: none;
    outline: none;  
    height: 100%;
  }
  
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 0px;
    }
  }