/* * {
    box-sizing: border-box;
    
  }
  
  .title-auth {
    text-align: left;
    padding: 2%;
  }
  .input{
    padding-top: 5px; 
    background: white;
    border: 1px;
    outline: none;
  }
  
  /* Float four columns side by side */
  .column-auth {
    float: left;
    width: 40%;   
    padding: 0px 25px 25px 25px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row-auth {
    margin: 0;
    padding-top: 50px;
    padding-left: 50px;
  }
  
  /* Clear floats after the columns */
  .row-auth:after {
    content: "";
    display: grid;
    clear: both;
  }
  
  /* Style the counter cards */
 .card-auth {
    padding: 0px  ;
    padding-top: 5px;
    padding-bottom: 10px;
    background: #fbfbfb;
    border: none;
    outline: none;  
    height: 100%;
  }
  
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column-auth {
      width: 100%;
      display: block;
      margin-bottom: 0px;
    }
  }

