/* *{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
} */

.scrollbar{
margin-left: 55%;
  position: fixed;
    height: 600px;
    width: 305px;
    background: white;
    overflow-y: scroll;
    overflow-x: hidden;
	
}
.scrollbar::-webkit-scrollbar{
    border-radius: 10px;
    width: 10px;
    height: 10pa;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.scrollbar::-webkit-scrollbar-thumb{
border-radius: 10px;
width: 10px;
height: 10px;
box-shadow: inset 0 0 6px green;
background-color: #808080;
}