
.accountsetup-account-gap2{
    margin-top: 5rem;
    margin-left: 5.1%;
}
.active{
    background: rgba(0, 128, 0, 0.432);
    color:white;
    border-radius: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.admin-model:hover{
    background: rgba(128, 128, 128, 0.377);
    color: white;
    transition: all 0.5s;
    border-radius: 10px;
}
.heading{
    margin-left: 7%;
}
.heading1{
    margin-left: 7%;
    margin-top: 2%;
}
.admin-icon{
    color: blue;
    font-size: 25%;
    width:100%
    
}
.admin-icon:hover{

    color: white;
    transition: all 0.5s;
    border-radius: 20px;
}

/************ ICON************/
.facebook{
    color: #4267b2;
  
}
.instagram{
    color: rgb(212, 79, 102);
    /* background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); */
}
.youtube{
    color: #ff0000; 
}
.twitter{
    color: #1da1f2;
}
.linkedin{
    color:#0a66c2;
}

.account-gap2{
    margin-left: 5%;
}
.paragraph2{
    margin-left: 5%;
    margin-top: 2px;
}
.line2{
    border-bottom: 1px solid black;
    margin-top: 2%;
    width: 78%;
    margin-left: 5%;
}
.name{
    font-size: 18px;
    font-weight: 400;
    
}