.chat {
    padding: 15%;
}


.profile {
    width: 80%;
    height: 10%;
    padding-left: 20%;
    padding-top: 10%;
    border-color: green;
    border-width: 1px;
}

.card {
    width: fit-content;
    
}
