.formfielddiv {
    width: 60vw;
    margin-left: 20%;
    margin-top: 5%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
   
}
/* .toolkit{
    display: flex;
} */

.campignfields-h4{
  margin-top: 1rem;
  color: #00AB66;
}

.formfield {
    margin: 30%;    
}
.formFileds-comp{
margin-left: 5rem;
}
.formfield-button{
    float: right;
}

.Formtext {
    margin-top: 1rem;
    gap: 1rem;
}
