/* styles/Header.css */

.nav-height {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #fafafa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .ul-itemes {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2rem;
    margin-top: 3%;
   
  } 
  .ul-itemes li {
    position: relative;
  }
  
  .ul-itemes li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: green;
    transition: all 0.3s ease-in-out;
  }
  
  .ul-itemes li:hover::after {
    width: 100%;
  }
  
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }
  /* .item .icon1{
    border: 1px solid black;
    border-radius: 50%;
    width: 40%;
    height: 40%;
  } */
  .item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    

  }
  

  .item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }
  
  .item3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }
  
  .icon1,
  .icon2,
  .icon3,
  .icon4,
  .icon5,
  .icon6 {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .left,
  .right {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
  }
  .icon2{
    color: blue;
  }
  .icon3{
    color: red;
  }
  .icon4{
    color: skyblue;
  }
  .icon5{
    color: red;
  }
  .icon6{
    color: darkblue;
  }
  @media only screen and (max-width: 768px) {
    /* Mobile view */
    .nav-height {
      height: auto;
    }
  
    .ul-itemes {
      flex-wrap: wrap;
    }
  
    .item,
    .item1,
    .item2,
    .item3 {
      width: 50%;
      text-align: center;
      /* margin: 2px ;
      /* margin-top: 3rem; */
      /* flex-direction: row;  */
    }
  
    .left,
    .right {
      display: none;
    }
  }
  
  @media only screen and (max-width: 368px) {
    /* Mobile view */
    .nav-height {
      height: auto;
    }
  
    .ul-itemes {
      flex-wrap: wrap;
    }
  
    .item,
    .item1,
    .item2,
    .item3 {
      width: 50%;
      text-align: center;
      /* margin: 2px ;
      /* margin-top: 3rem; */
      /* flex-direction: row;  */
    }
  
    .left,
    .right {
      display: none;
    }
  }
  

 
  /* .nav-height {
    height: 60px;
  }
  
  .ul-itemes {
   
    list-style-type: none;
    margin-top: 5%;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  
  .item {
    margin-right: 40px;
    font-size: 24px;
    border: 1px solid green;
    width: 10%;
  }
  
  .item1 {
    margin-right: 40px;
    font-size: 24px;
  }
  
  .item2 {
    margin-right: 40px;
    font-size: 24px;
  }
  
  .item3 {
    margin-right: 40px;
    font-size: 24px;
  }
  
  .left {
    margin-right: 20px;
    font-size: 24px;
  }
  
  .right {
    margin-left: 20px;
    font-size: 24px;
  }
  
  .icon1 {
    font-size: 24px;
    gap: 1rem;
  }
  
  .icon2 {
    font-size: 24px;
  }
  
  .icon3 {
    font-size: 24px;
  }
  
  .icon4 {
    font-size: 24px;
  }
  
  .icon5 {
    font-size: 24px;
  }
  
  .icon6 {
    font-size: 24px;
  }
  
  @media only screen and (max-width: 768px) {
    .nav-height {
      height: 80px;
    }
    
    .ul-itemes {
      flex-direction: row;
      justify-content: center;
    }
  
    .item,
    .item1,
    .item2,
    .item3,
    .left,
    .right {
      margin: 10px 0;
      font-size: 20px;
    
    }
  
    .icon1,
    .icon2,
    .icon3,
    .icon4,
    .icon5,
    .icon6 {
      font-size: 24px;
    }
  }  */
  