

.container{
    display: flex;
    /* position: fixed; */
    
}

main{
    
    position: relative;
}
.leftnav-icon{
    font-size: 20px;
}
.submenu-icon{
    font-size: 20px;
}
.sidebar{
    /* background:  #08643e; */
    background:#014421; 
    color: black;
    height: 100vw;
    width: 20vw;
    position:fixed;
   opacity: 1;
   top: 0;
}
.top-section{
    display: flex;
    align-items: center;
    padding: 0 10px ;
   
}
.logo{
    font-size: 20px;
    color: white
   
   
}
.bar{
    font-size: 25px;
    display: flex;
    cursor: pointer;
    top: 0;
    color: white;
}
.link{
    display: flex;
    color: white;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
    text-decoration: none;
    margin-top: 5px;
   
}

/* .link:hover{
    background: #008080;
    color: white;
    transition: all 0.5s;
  
}  
  .leftnav-active{
    background: #008080;
    color:black;
    
} */
.icon, .link_text{
    font-size: 25px;
}

.submenu{
    
    background:#00693E;
    
    height: 100%;
    width: 18%;
    position:fixed;
    left: 50px;
   padding: 10px 15px;
   gap: 25px;
   text-decoration: none;
   display: flex;
   flex-direction: column;
   z-index: 9999;
   top: 0;
}
.submenu-path{
    color: white;
    display: flex;
    gap: 1rem;
    z-index: 9999;
}

.submenu-youtube{
    color: #ff0000;
}
.submenu-twitter{
    color: #1da1f2;
}
.submenu-linkedin{
    color:#0a66c2;
}
.submenu-facebook{
    color: #4267b2;
  
}
.submenu-instagram{
    color: rgb(212, 79, 102);
}

.fb-logo{
    width: 24px;
    height: 24px;
}