

.container{
    display: flex;
    position: fixed;
    
}

main{
    width: 100%;
    position: relative;
}

.sidebar{
    background:white;
    color: black;
    height: 100%;
    width: 20%;
    position:fixed;
   margin-top: 2rem;
}
.top-section{
    display: flex;
    align-items: center;
    padding: 0 12px ;
    top: 0;
    position: fixed;
}
.logo{
    font-size: 25px;
    color: rgba(0, 128, 0, 0.692);
   
   
}
.bar{
    font-size: 25px;
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 0;
}
.link{
    display: flex;
    color: black;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
    text-decoration: none;
}

.link:hover{
    background: rgba(0, 128, 0, 0.432);
    color: white;
    transition: all 0.5s;
    border-radius: 20px;
}
.active{
    background: rgba(0, 128, 0, 0.432);
    color:white;
    border-radius: 20px;
}
.icon, .link_text{
    font-size: 25px;
}