  /* :root {
    --primary: #e5e8ef;
    --primary-dark: #e1e4ea;
    --secondary-lime: #e1ff2d;
    --secondary-lavender: #d3b7f8;
} */
   .loginform{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: auto;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.699);
    border-radius: 1.625rem;
    /* background: #1783e1; */
   } 
    .loginlabel-heading{
        padding: 20px;
        padding-bottom: 20px;
        font-family: "Raleway", sans-serif;
        border: none;
        align-items: flex-start; 
        margin-right: 70%;
        margin-left: 0;    
    }

    .loginlabel-heading-email{
        padding: 20px;
        padding-bottom: 20px;
        font-family: "Raleway", sans-serif;
        border: none;
        align-items: flex-start; 
        margin-right: 80%;
        margin-left: 0;   
    }
  
    .input-login{
        padding-top: 5px;
        background: #fbfbfb;
        border: none;
        outline: none; 
        height: 20px; 
        width: 70%; 
        margin-left: 0;
    }
    .btn{
    background: -webkit-linear-gradient(right, #a6f77b, #2dbd6e);
    border: none;
    border-radius: 40px;
    box-shadow: 0px 1px 8px #24c64f;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 32.3px;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 0px;
    transition: 0.25s;
    width: 100px;
    }
    .btn:hover{
        box-shadow: 0px 1px 18px #24c64f;
    }
    
    .messages{
    padding-top: 2%;
    display: flex;
    justify-content: center;
    color: #2e7d32;
    border-radius: 20px;
    
    }
    
    .error{
    display: inline-flex;
    color: lightslategray;
    width: fit-content;
    height: 5px;
    padding: 5px;
    }
    
    .success{
    display: block;
    background-color: lightblue;
    color: black;
    width: fit-content;
    height: 50px;
    padding: 5px;
    }
   
.logintitle{
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 3px;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
}

.loginform-input{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 34px;
    width: 100%;
}

.underline-title{
   
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
        height: 2px;
        width: 40%; 
        padding-left: 5px;
        margin-left: 30%;
}

.text-line{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    background: -webkit-linear-gradient(right, #a6f77b, #2ec06f);
    height: 1px;
    width: 90%; 
    padding-left: 5px;

}

.SSO {
    padding: 20px;
    padding-bottom: 20px;
    font-family: "Raleway", sans-serif;
    border: none;
    align-items: flex-start;    
}

.forgot-pass{
    color: #2dbd6e;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 3px;
    margin-left: 10rem;
}

.signup {
    color: #2dbd6e;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 1px;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
 } 
.login-heading{
    margin-top: 1.9%;
    margin-left: 2rem;
}
  .login-google-icon{
    font-size: 23px;
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding-block: .1rem;
    margin-block: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.068);
    box-shadow: 0.4rem 0.4rem 0.8rem #c8d0e7, -0.4rem -0.4rem 0.8rem #fff;
    background-color: #d3b7f8;
    animation: waves 2s linear 1s infinite;
  }
  .login-google-icon-facebook{
    color: blue;
    font-size: 23px;
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding-block: .1rem;
    margin-block: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.068);
    background-color: white;
    animation: waves 2s linear 1s infinite;
  }
  .login-all{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
  } 

   .sidebar{
    background-color: white;
    color: black;
    height: 100vh;
}
a{
    text-decoration: none;
}
.routes{
    color: black;
}
.icon{
    font-size: 170%;
}
.top_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
}
.logo{
    font-size: 18px;
    line-height: 0;
}
.link{
    display: flex;
    color: black;
    gap: 10px;
    padding: 5px 10px;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735,0.045);
}
.link:hover{
    border-right: 4px solid black;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735,0.045);
    background: grey;
}
.bars{
    color: black;
    font-size: 185%;
}  


/* *{
    margin: 0;
    padding: 0;
}
.login-have{
    margin-left: 20%;
    margin-top: 2rem;
}
 .form-wrapper{
    background: white;
    width: 30%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
 }
 .app-wrapper{
     background-color: white;
     min-width: 150px;
     min-height: 550px;
     padding: 30px;
     box-sizing: border-box;
     border-radius: 5px;
 }
 .title{
     color: #f80759;
     text-align: center;
    
    
 }
 .name,
 .email,
 .password{
     margin: 20px;
     color: black;
     font-size: 16px;
 }
 .password{
     margin-bottom: 40px;
 }
 .input{
     height: 32px;
     font-size: 20px;
     outline: none;
     width: 100%;
     border-top-style:none ;
     border-left-style: none;
     border-right-style: none;
     border-bottom-style:2px solid black ;
     margin-bottom: 10px;
 }
 .error{
     color: red;
 }
 .sumbit{
     display: flex;
     text-transform: uppercase;
     font-size: 20px;
     border-radius: 25px;
     color: black;
     padding: 10px 60px;
     background: pink;
     box-shadow: rgba(0,0,0,0.22) 0px 19px 38px,rgba(0,0,0,0.22)0px 15px 12px;
     margin: auto;
     outline: none;
     border: none;
     cursor: pointer;
     transition: all 0.1s;
 }
 button:active{
     transform: translateY(2px);
 }
 .form.success{
     display: flex;
     justify-content: center;
     margin-top: 250px;
     color: #850c62;
     min-width: 370px;
 } */