.card-container {
  width: 33.33%;
  margin-bottom: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
}

.card-header {
  background-color: #f0f0f0;
  padding: 5px 10px;
}

.card-content {
  padding: 10px;
}

.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.filter-input {
  margin-right: 10px;
}

.arrow-upward,
.arrow-downward {
  cursor: pointer;
  width: 20px;
  height: 20px;
  fill: #ccc;
}