.card1 {
  float: left;
  width: calc(45% - 20px);
  padding: 10px;
  border-radius: 10px;
  margin: 10px 7.6%;
  height: 200px;
  opacity:5px;
}
.card2{
  background-color: #e5d1fa;
  float: left;
  width: calc(25% - 20px);
  padding: 10px;
  border-radius: 10px;
  margin: 10px ;
  margin-right: 2%;
  height: 200px;
}
.card p {
  font-size: 18px;
}
.cardContainer:after {
  content: "";
  display: table;
  clear: both;
 
}
@media screen and (max-width: 600px) {
  .card {
     width: 100%;
  }
}


.card-total{
  margin-left: 6%;
  margin-top: 1rem;
}
.card {
  float: left;
  width: 25%;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 2%;
}

.card p {
  font-size: 18px;
}
.cardContainer:after {
  content: "";
  display: table;
  clear: both;
 
}
@media screen and (max-width: 600px) {
  .card {
     width: 100%;
  }
}

.piechart{
  border: 1px solid red;
}
.chart-main{
  display: table;
  clear: both;
  display: flex;

}