.googlenav {
    margin-left: 8vh;
    margin-top: 8vh;
    height: 100vh;
    width: 15%;
    border-color: thin black;
    border-right-width: thin;
    background-color: white;
}


.googlenavtitle {

}

.googlenavoption {
    padding-top: 10px ;
    margin-left: 8px;
    padding-bottom: 10px;
    margin-left: 15px;
}